.smartcoin-loading {
	background-image: url("../img/inline-loading.svg")!important;
	background-repeat: no-repeat!important;
	background-size: 25%!important;
	background-position: center center!important;
	display: block!important;
}